table{
      border-collapse: collapse;
      margin-bottom: 30px;
      margin: 10%;
      align-items: center;
    }
    td {
      border: 5px solid black;
      width: 200px;
      height: 50px;
      text-align: center;
    }
