table{
      border-collapse: collapse;
      margin-bottom: 30px;
      margin: 10%;
      align-items: center;
    }
    td {
      border: 5px solid black;
      width: 200px;
      height: 50px;
      text-align: center;
    }
#Project{
  color: black;
    padding: 25px 28px;
    border-radius: 30em;
    font-size: 24px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 6px 6px 12px #afb4ac,
        -6px -6px 12px #b6b8b4;
    align-items:center;
}
#yo{
      align-items:center;
      border:2px solid black;
      border-radius:30px;
      font-family:sans,serif;
}

#Project::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 30em;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: width 0.5s ease;
    display: block;
    z-index: -1;
}
#Project:hover::before {
    width: 100%;
}
#Project:hover {
    transform: scale(1.03)
}
